<div class="login-page">
  <div class="login-container">
    <img src="/assets/logo 1.jpg" alt="Logo" class="logo" />
   <form>

    <div class="input-group">
      <input type="text" id="email" placeholder="email" required />
    </div>
    
    <div class="input-group">
      <input type="password" id="password" placeholder="password" required />
    </div>
   </form>

    <a class="forgot-password" href="#">Forgot Password?</a>

    <button class="sign-in">Sign in</button>
    

    <button class="ms-login">Login with Microsoft 365</button>

    <p class="policy">
      By logging in, you agree to our <a href="#">Privacy Policy</a> and <a href="#">Terms & Conditions</a>.
      <br />
      New Here? Contact admin to get started.
    </p>
  </div>
</div>